<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>932867187299-0s604hdeu50k2k3k8m3mf1hdn0u0kt5p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.932867187299-0s604hdeu50k2k3k8m3mf1hdn0u0kt5p</string>
	<key>API_KEY</key>
	<string>AIzaSyCmVBJNJCmuRX4WwGt4S-0tXT_rdn-u-1U</string>
	<key>GCM_SENDER_ID</key>
	<string>932867187299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.storish</string>
	<key>PROJECT_ID</key>
	<string>storish-codecamp</string>
	<key>STORAGE_BUCKET</key>
	<string>storish-codecamp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:932867187299:ios:7d3b8ddc88793330040e56</string>
</dict>
</plist>